$yellow: #fdc66a;
$bgc: #0c0c0c;
$white: #fff;
// $yellowHover: lighten(#fdc66a, 20%);
// $yellowHover2: darken(#fdc66a, 10%);
// $grey: #666666;
// $grey2: #333333;
// $bgc2: #111111;
// $titleAfter: #181818;